*{
    font-family:  sans-serif;
    color: rgb(50, 50, 50);
    margin:0;
    padding: 0px;
}
.headerSection{
    display: flex;
    align-items: center;
    margin:25px auto;
    
    max-width: 75%;
}
.logoSection{
    flex:1;
}
.logoSection img{
    height: 25px;
    cursor: pointer;
}
.headerSectionRight{
    display: flex;
    align-items: center;   
}
.headerSectionButton{
    display: flex;
    align-items: center;
    border:1px solid gray;
    margin-right:5px;
    border-radius:5px;
    padding:10px 20px;
    color:rgb(96, 95, 95);
    transition: color 0.5s ease;
    transition: background 0.5s ease;
}
.headerSectionButton:hover{
    background: #f77e1b;
    color: white;
    cursor: pointer;    
    border-color: #f77e1b;   
}
.headerSectionButton img{
    margin-right:3px;
}
.loginButton{
    padding:13.5px 20px;
    border-radius:5px;
    background: #f77e1b;
    color: white;
    border: 1px solid  #f77e1b;
    cursor: pointer;
}
.navBarSection{
    background: rgba(249, 214, 38, 0.957);
    padding-left: calc(100% - 87.6%);
    padding-right: calc(100% - 87.6%);  
}
.navBar{
    list-style: none;
    display: flex;
    font-size: 1rem;
    
}
.navList{
   padding-top: 13px;
   padding-bottom: 13px;
   margin-right:25px;

}
.navList:hover{
    cursor: pointer;
}
.pagesLink{
    margin-left: calc(100% - 87.6%);
    margin-right: calc(100% - 87.6%);
    padding:15px 0px;
    font-size: 0.9rem;
}
.pageLink{
    text-decoration: none;
    color:#f77e1b
}
.currentPage{
    color:rgb(95, 94, 94);
    cursor:text;
}
.desc{
    margin-left: calc(100% - 87.6%);
    margin-right: calc(100% - 87.6%);
    display: flex;
    padding:10px 0px;
    margin-bottom: 40px;

}
.heartImg{
    background: rgb(233, 233, 233);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.heartImg img{
    height:110px;
    width:110px;
    padding:20px;

}
.descDetails{
    margin-left: 25px;
}
.descDetails h1{
    margin: 10px;
    font-size: 2.4rem;
}
.descDetails p{
    margin: 10px;   
    line-height: 28px;
}
.inputDetails{
    background: rgba(199, 198, 198, 0.2);;   
    padding:60px calc(100% - 87.6%);
   
}
.inputDetails h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.inputPara{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    
}
select{

}
.candidate1Details{   
    margin-top: 35px;
   
}

.details label{
    padding-bottom:5px;
}
.userDetail{
    padding:10px 20px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
    border:1px solid rgb(193, 193, 193);
    position:relative;
    left:0;
    right: 0;
    width: auto;
 
   
   
}

.details{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detailSection{
    display: flex;
}

.nameInput::placeholder {
    color:rgb(193, 193, 193);
}
.userDetail:focus{
    outline: none;
    
}
.lover1{
    display: flex;    
    margin-bottom: 15px;
}
.lover2{
    display: flex;
}

.loveRate{
    display: flex;
    align-items: center;
    
    margin-top: 30px;
   
}
.loveRate div p{
    margin-right:50px;
    min-width: 500px;
}
.loveRate div input{
    padding:10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
}
.loveRate div input::placeholder{
    color:rgb(193, 193, 193);
}
.loveRate div input:focus{
    outline: none;
}
.calcbuttonmodel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calcBtn{
    margin-top: 30px;
    background: none;
    border:none;
    font-size: 0.9rem;
    background: #f77e1b;
    border-radius: 2px;
    padding:15px 40px;
    text-align: center;
    color: white;
    
    
}
.calcBtn:hover{
    cursor:pointer;
    background: rgba(249, 214, 38, 0.957);
}
.queries{
    margin:60px calc(100% - 87.6%);
  
    
}
.queries p{
    padding:10px;
    line-height: 25px;
}
.queries h2{
    padding:10px;   
}
.faqs{
    padding:45px calc(100% - 87.6%);
   background: rgba(233, 233, 233,0.5);
}
.faqs h2{
    font-size: 1.8rem;
   
    
}
.faq1{
    margin-top: 20px;
    display: flex;   
    border: 1px solid gray;
    padding:10px 20px;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
}

.faq1 p{
    font-size: medium;
    color: black;
   

}
.ques span{
    display: none;
    font-size: 17px;
   
    font-weight: lighter;
    color: #787979;
}
.faq1 button{
    background: none;
    border: none;
}

.horoscopeSection{
    padding:50px calc(100% - 87.6%);
}
.horoscopeHeading{
    text-align: center;
    
   
}
.horoscopePara{
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
    color:rgb(72, 72, 72)
   
}
.zodiacSign{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    

    justify-content: space-between;
}
.zodiac{
    
    border:1px solid rgb(180, 180, 180);
    padding:20px 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: border 0.25s ease;

}
.zodiac p{
    margin-top: 4px;
    transition: color 0.25s ease;
}
.zodiac:hover {
    cursor: pointer;
    border:1px solid #f77e1b;
    
    
}
.zodiac:hover p{
    color:#f77e1b;
}

.secondLastFooter{
    background: #2c2d2e;
   
}
.slFooter{
    padding:60px 200px;
    display: flex;

}
.goToLinks{
    flex:1;
   
}
.goToLinks ul{
    list-style: none;
    padding:20px;
}
.goToLinks ul li{
    color:white;
    font-size: 1rem;
    border-bottom: 1px solid rgb(121, 120, 120);
    padding-bottom: 7px;
    margin-bottom: 10px;
  
}
.goToLinks ul li:hover{
    cursor: pointer;
    color:#f77e1b;
}

.footer{
    background: #212529;
}
.footerMenu{
    padding:60px 200px;
    display: flex;
}
.linksMenu{
    padding: 20px;
    flex:1;
}
.linksMenu h2{
    color: white;
    margin-bottom: 20px;
}
.linksMenu ul{
    padding-right: 10px;
    list-style: none;
}
.linksMenu ul li {
    color: white;
    margin-bottom: 10px;
}
.linksMenu ul li:hover{
    cursor: pointer;
    color:#f77e1b;
}

.linksDownload{
    padding: 20px;
    flex:1;
}
.downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linksDownload h2{
    color: white;
    margin-bottom: 20px;
}
.linksDownload img{
    height: 45px;
    width: 180px;
    padding-bottom: 10px;
}
.linksDownload img:hover{
    cursor: pointer;
}

.contacts{
    flex: 1;
    padding: 20px;
}
.contacts h2{
    color: white;
    margin-bottom: 20px;
}
.contacts p{
    color: white;
    margin-bottom: 10px;

}
.contactIcons{
    margin-top: 20px;
}
.contactIcons img{
    height: 17px;
    border-radius: 50%;
    margin-right: 7px;
    padding:6px;
    background:#3a434d ;
    border: 1px solid rgb(48, 74, 81);
}

.contactIcons img:hover{
    cursor: pointer;
    
}

.copyrightLogo{
    border-top: 1px solid white;
    padding:20px;
}
.copyrightLogo p{
    color: white;
    text-align: center;
}
.percentShow{
    animation: openModal 0.25s ;
    position: fixed;
    display: none;
    left: 0 ;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    
}
@keyframes openModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.modalDetails{
    padding:20px;
    
    background: white;    
   width:50%
    
    
}
.modalDetailsContent{
    display: flex;
    flex-direction: column;
    background: white;
    
    
}
.modalDetailsContent header{
    text-align: end;
}
.closeBtn{
    border-radius: 50%;
    color:white;
    height:25px;
    width:25px;
    background: gray;
    font-size: large;
    border: none;
}
.content{
    padding:20px;
    text-align: center;
}
.body h2{
    display: flex;
   justify-content: center;
}
.body img{
    margin-bottom: 30px;
}
.body p{
    padding-bottom: 20px;
    font-size: large;
}
.checkAgainButton{
    width: fit-content;
    padding:10px 20px;
    background: #f77e1b;
    color: white;
    text-align: center;
    border:none;
}











